---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import CreativityPoem from "../components/CreativityPoem.astro";
import WhereCreativityComesFrom from "../components/WhereCreativityComesFrom.astro";
import CreativityAndEducation from "../components/CreativityAndEducation.astro";
import JohnCleeseOnCreativityAndMySpaceTimeOasis from "../components/JohnCleeseOnCreativityAndMySpaceTimeOasis.astro";
import ConnectingTheDots from "../components/ConnectingTheDots.astro";
import CreativityAndRisk from "../components/CreativityAndRisk.astro";
import ThinkingStyles from "../components/ThinkingStyles.astro";
import CreativityAndInnovation from "../components/CreativityAndInnovation.astro";
import NewInsights from "../components/NewInsights.astro";
import References from "../components/References.astro";
// import Services from "../components/Services.astro";
// import Team from "../components/Team.astro";
// import Testimonial from "../components/Testimonial.astro";
// import Contact from "../components/Contact.astro";
// import Case from "../components/Case.astro";
---

<Layout title="Rathkalyforgna Chhin">
  <main class="space-y-20">
    <!-- 1. DESIGN THE COVER OF YOUR AUTOBIOGRAPHY -->
    <Hero />
    <!-- 2. CREATIVITY POEM -->
    <CreativityPoem />
    <!-- 3. WHERE CREATIVITY COMES FROM -->
    <WhereCreativityComesFrom />
    <!-- 4. CREATIVITY AND EDUCATION-->
    <CreativityAndEducation />
    <!-- 5. JOHN CLEESE ON CREATIVITY AND YOUR SPACE TIME OASIS -->
    <JohnCleeseOnCreativityAndMySpaceTimeOasis />
    <!-- 6. CONNECTING THE DOTS -->
    <ConnectingTheDots />
    <!-- 7. CREATIVITY AND RISK -->
    <CreativityAndRisk />
    <!-- 8. THINKING STYLES -->
    <ThinkingStyles />
    <!-- 9. CREATIVITY AND INNOVATION: SELF-REFLECTION WORKSHEET -->
    <CreativityAndInnovation />
    <!-- 10. NEW INSIGHTS -->
    <NewInsights />
    <!-- 11. References -->
    <References />

    <!-- <Services /> -->
    <!-- <Case /> -->
    <!-- <Team /> -->
    <!-- <Testimonial /> -->
    <!-- <Contact /> -->
  </main>
</Layout>
