---
import Container from "./Container.astro";
import Topic from "./Topic.astro";
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row" id="services">
    <Topic title="Connecting the Dots" description="" />
  </div>
  <div class="flex gap-10">
    <div class="w-full">
      <div>
        According to Steve Jobs, "connecting the dots" refers to the ability to
        see how seemingly unrelated experiences and knowledge can come together
        to create new insights or solutions. On a recent experience where I
        connected multiple dots, I recall a project where I combined my
        knowledge of user experience design with insights from my studies on
        agile methodologies. I noticed that applying agile principles to
        user-centered design could streamline development processes and enhance
        product outcomes.
      </div>
      <div class="my-10">
        <div>Connections:</div>
        <ul>
          <li>
            <strong>User Experience Design: </strong> I understood how crucial it
            is to create intuitive and engaging interfaces for users.
          </li>
          <li>
            <strong>Agile Methodologies:</strong> I applied agile principles to ensure
            iterative improvements and user feedback integration throughout the development
            cycle.
          </li>
        </ul>
      </div>
      <div class="my-10">
        <div>Underlying Factors:</div>
        <ul>
          <li>
            <strong>Deep Understanding:</strong> Knowledge of both areas allowed
            me to see how they complement each other.
          </li>
          <li>
            <strong>Focused Environment:</strong> A distraction-free space facilitated
            critical and creative thinking. iterative improvements and user feedback
            integration throughout the development cycle.
          </li>
          <li>
            <strong>Continuous Learning:</strong> Regularly updating my knowledge
            helped me identify synergies between different fields.
          </li>
        </ul>
      </div>
    </div>
    <div class="w-full">
      <img
        src="/img/connecting-the-dots.jpg"
        alt="Connecting the Dots"
        class="w-full h-full object-contain rounded-lg"
      />
    </div>
  </div>
</Container>
