---
import Container from "./Container.astro";
import Topic from "./Topic.astro";
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row" id="services">
    <Topic title="Creativity and Education" description="" />
  </div>
  <div
    class="w-full p-12 bg-zinc-900 my-6 rounded-[45px] justify-start items-start gap-16 inline-flex text-white"
  >
    <div
      class="grid grid-cols-1 md:grid-cols-3 gap-2 divide-x-0 md:divide-x divide-y md:divide-y-0"
    >
      <div
        class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
      >
        <div class="justify-start items-center gap-[15px] inline-flex">
          <div class="text-lime text-xl font-normal leading-7">
            1. The Importance of Creativity in Education
          </div>
        </div>
        <div class="w-full text-lg font-normal">
          Robinson argues that creativity is as important as literacy and should
          be treated with the same status in education. He believes that schools
          often prioritize standardized testing and conformity over creative
          thinking, which limits students' potential.
        </div>
      </div>
      <div
        class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
      >
        <div class="justify-start items-center gap-[15px] inline-flex">
          <div class="text-lime text-xl font-normal leading-7">
            2. The Need for a Paradigm Shift
          </div>
        </div>
        <div class="w-full text-lg font-normal">
          Robinson calls for a fundamental shift in how we approach education.
          He suggests that we need to move away from a one-size-fits-all model
          and embrace a more personalized approach that nurtures individual
          talents and creativity. This includes redefining the role of teachers
          and creating environments that encourage innovation.
        </div>
      </div>
      <div
        class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
      >
        <div class="justify-start items-center gap-[15px] inline-flex">
          <div class="text-lime text-xl font-normal leading-7">
            3. The Impact of Conformity and Standardization
          </div>
        </div>
        <div class="w-full text-lg font-normal">
          Robinson highlights that the current education system often values
          conformity and compliance over creativity. This system, he argues,
          stifles students' ability to think independently and solve problems
          creatively. He advocates for an educational system that allows for
          more divergent thinking and less focus on uniformity.
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex-col justify-start items-start gap-[26px] inline-flex text-black"
  >
    <div class="text-lg font-normal">
      I agree with Sir Ken Robinson’s overall message about the necessity of
      integrating creativity into education. Robinson’s advocacy for treating
      creativity with the same importance as literacy is compelling, as
      creativity fuels innovation and problem-solving across various fields. His
      call for a paradigm shift from a rigid, standardized education model to a
      more personalized and flexible approach resonates with the need to nurture
      individual talents and adapt to a rapidly evolving world. Emphasizing
      creativity over conformity in education can better prepare students to
      tackle complex challenges and contribute meaningfully to society, aligning
      with the growing recognition of the value of diverse thinking and
      innovation.
    </div>
  </div>
</Container>
