---
import Container from "./Container.astro";
import Topic from "./Topic.astro";
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row" id="services">
    <Topic title="Creativity and Innovation: Self-Reflection" description="" />
  </div>
  <div>
    <img
      src="/img/reflection-worksheet.jpg"
      alt="ENT60009 Creativity and Innovation Reflection worksheet"
      class="w-full rounded-lg"
    />
    <div class="">
      <div class="mb-4">Top Five Issues to Improve Upon:</div>
      <ul class="flex flex-col gap-4">
        <ol>
          <strong>1. Creativity Level (6):</strong> I want to boost my creativity
          by exploring diverse experiences and practicing creative exercises more
          regularly.
        </ol>
        <li>
          <strong>2. Open-Mindedness (5):</strong> I need to work on embracing new
          perspectives and challenging my assumptions more often.
        </li>
        <li>
          <strong>3. Humor (3):</strong> Improving my use of humor could enhance
          team dynamics and creativity. I plan to integrate more humor into my interactions.
        </li>
        <li>
          <strong>4. Playing (5):</strong> I aim to be more playful in my creative
          process to unlock new ideas and approaches.
        </li>
        <li>
          <strong>5. Creativity Tools (5):</strong> Expanding my creativity toolbox
          with new tools and techniques will enhance my problem-solving abilities.
        </li>
      </ul>
    </div>
  </div>
</Container>
