---
import Container from "./Container.astro";
import Topic from "./Topic.astro";
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row" id="services">
    <Topic title="References" description="" />
  </div>
  <div class="mb-32">
    <ol class="flex flex-col gap-4">
      <li>
        Amabile, T. M. (2012, May 22). Componential Theory of Creativity. HBS
        Working Knowledge.
        https://hbswk.hbs.edu/item/componential-theory-of-creativity
      </li>
      <li>
        Chu, C. (2017, February 28). The perfect conditions for creativity,
        according to Monty Python’s John Cleese. Quartz.
        https://qz.com/919351/the-perfect-conditions-for-creativity-according-to-monty-pythons-john-cleese
      </li>
      <li>
        Ellsberg, M. (2013, May 17). The Necessity of Creative Risk Taking. Big
        Think.
        https://bigthink.com/articles/the-necessity-of-creative-risk-taking/
      </li>
      <li>
        Joanne Friedland Roberts. (2016, March 4). Creativity and
        Entrepreneurship: “Connecting the Dots.” HuffPost; HuffPost.
        https://www.huffpost.com/entry/creativity-and-entreprene_b_9376316
      </li>
      <li>
        Jobs, S. (2017). Steve Jobs - Connecting The Dots - Motivational Video
        [YouTube Video]. In YouTube. https://www.youtube.com/watch?v=wz0j7z38LIg
      </li>
      <li>
        Robinson, K. (2014). Sir Ken Robinson - Can Creativity Be Taught?
        [YouTube Video]. In YouTube. https://www.youtube.com/watch?v=vlBpDggX3iE
      </li>
    </ol>
  </div>
</Container>
